body {
	overflow-x: hidden;
}

div#puzzleentrycontainer {
	display: none;
}

div#puzzleentrycontainer.active {
	display: block !important;
}

div#cardid {
	font-weight: bold;
	font-size: 14px;
}

div#cardid::before {
	content: "Card #";
}

div#cardfields img {
	min-width: 50px;
	min-height: 50px;
	max-width: 100px;
	max-height: 100px;
	border: black solid thin;
}

div#cardfields img.selectedimage {
	vertical-align: top;
}

div#cardfields > span.imagefield > div.imagedropdown {
	position: absolute;
	background-color: white;
	max-height: 250px;
	overflow-y: auto;
	overflow-x: visible;
	width: 125px;
}

div#cardfields > span.imagefield:not(.active) > div.imagedropdown {
	display: none;
}

div#cardfields div.imagedropdown > img:hover {
	background-color: lightcyan;
}


/* popup notices */
div.popupnotice {
	position: fixed;
	width: 300px;
	min-height: 50px;
	resize: both;
	bottom: 10px;
	left: 5px;
	margin: auto;
	opacity: 1;
	border-style: ridge;
	border-radius: 5px;
	border-color: gray;
	box-shadow: 5px 5px 5px #AAAAAA;
	background-color: darkcyan;
	transition: left .25s, opacity .5s;
	z-index: 999;
	vertical-align: middle;
}

div.popupnotice.off {
	left: -300px;
}

div.popupnotice > div.popupcontent {
	height: 100%;
	width: 100%;
	min-height: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
}

div.popupnotice > div.popupcontent > div {
	text-align: center;
	margin: auto;
	padding: 0 12.5px;
}

div.popupnotice.fade {
	opacity: 0;
}

div.popupnotice > div.close::before {
	content: "X";
	right: 0;
	top: 0;
	position: absolute;
	text-align: right;
	border: thin solid;
	color: white;
	background-color: red;
}

/* timer */
div#timercontainer {
	position: fixed;
	top: 10px;
	right: 5px;
	border-style: ridge;
	border-radius: 5px;
	border-color: gray;
	background-color: cyan;
	width: 50px;
	text-align: center;
}